* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(45deg, #084177, #687466);
    background-size: 100% 100%;
    animation: colors 5s ease infinite;
}
nav.menu-lateral {
    width: 75px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 rgb(0, 211, 141);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
}
nav.menu-lateral.expandir{
    width: 220px;
    transition: 1s;
}
.btn-expandir {
    width: 100%;
    padding-left: 5px;
}
.btn-expandir > i {
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 1s;
}

ul li.ativo {
    background-color: rgb(0, 211, 141);;
}

ul li.item-menu:hover {
    background-color: rgb(0, 211, 141);
}

ul li.item-menu a{
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
}
ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 0;
}

.sobreMim {
    box-sizing: border-box;
    position: absolute;
    left: 20%;
    top: 35%;
    display: initial;
    text-align:justify;
    font-size: 20px;
    color: #ffff;
}

.ling {
    box-sizing: border-box;
    position: absolute;
    left: 20%;
    top: 25vh;
    display: initial;
    text-align:justify;
    font-size: 20px;
    color: #ffff;
}
@media (max-width: 999px) {

    .ling {
        top: 10vh;
        left: 33vh;
    }
    .sobreMim {
        font-size: 2.2vh;
        text-align: center;
        left: 11vh;
    }
    nav.menu-lateral {
        width: 10vh;
        height: 100vh;
        background-color: #202020;
        padding: 40px 0px 40px 1%;
        box-shadow: 3px 0 0 rgb(0, 211, 141);
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: 1s;
        z-index: 1;
    }
    nav.menu-lateral.expandir{
        width: 32vh;
        transition: 1s;
        z-index: 1;
    }
    ul li.item-menu a .icon > i {
        font-size: 4.5vh;
        margin-left: 0;
    }
    ul li.item-menu a {
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
