* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #FFC490);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}
nav.menu-lateral {
    width: 75px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 rgb(0, 211, 141);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
}
nav.menu-lateral.expandir{
    width: 220px;
    transition: 1s;
    z-index: 1;
}
.btn-expandir {
    width: 100%;
    padding-left: 5px;
}
.btn-expandir > i {
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 1s;
}

ul li.ativo {
    background-color: rgb(0, 211, 141);
}

ul li.item-menu:hover {
    background-color: rgb(0, 211, 141);
}

ul li.item-menu a{
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
}
ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 0;
}

.logoImg {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: absolute;
    top: 5%;
    right: 5%;
}
.content {
    position: absolute;
    left: 300px;
    top: 200px;
}
#lg {
    font-size: 60px;
    color: #fff;
}
#lg1 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    opacity: 0.5;
}
.l {
    color: rgb(255, 24, 93);
    text-shadow: 4px 4px rgb(0, 211, 141);
    font-size: 70px;
    font-weight: bold;
}
button {
    background: linear-gradient(45deg, #084177, #687466);
    border-radius: 20px 20px 20px 20px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 60px;
    width: 90px;
    height: 40px;
    opacity: 0.5;
    transition: .5s ease;
}
.fade {
    opacity: 1;
    transition: .5s ease;
}
@media (max-width: 999px) {
    body {
        background-size: 200% 200%;
        animation: colors 7s ease infinite;
    }
    .logoImg {
        height: 25vh;
        width: 25vh;
        right: 15vh;
        z-index: 0;
    }
    .content {
        left: 17vh;
        top: 40vh;
        z-index: 0;
    }
    #lg {
        font-size: 30px;
    }
    .l {
        font-size: 35px;
    }
    #lg1 {
        font-size: 15px;
    }
    button {
        width: 13vh;
        height: 6vh;
    }
    #cont {
        font-size: 15px;
    }
    nav.menu-lateral {
        width: 10vh;
        height: 100vh;
        background-color: #202020;
        padding: 40px 0px 40px 1%;
        box-shadow: 3px 0 0 rgb(0, 211, 141);
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: 1s;
        z-index: 1;
    }
    nav.menu-lateral.expandir{
        width: 32vh;
        transition: 1s;
        z-index: 1;
    }
    ul li.item-menu a .icon > i {
        font-size: 4.5vh;
        margin-left: 0;
    }
    ul li.item-menu a {
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
